~*
*.pyc
*.swp
*.svn/
*.tmp/
.tmp_e2e/
.idea/
extension.zip
*.xpi
closure-library/
node_modules/
3rdparty/
app/components/
components/
www-deploy/
temp/
ssl/
chrome-extension-dist/_locales/
!chrome-extension-dist/_locales/en
gae/credentials_file$
dummy/
dist/
.sass-cache/
.gaedata/
website/app/bower_components/

