<div class="sndlatr slInvalidReceiversDialog">
    <div class="slModal-header">
        <button type="button" class="close"
                data-ng-click="close()">&times;</button>
        <h4>Error</h4>
    </div>

    <div class="slModal-body">
        <div class="message">
            <div data-ng-hide="hasAny">
                Enter at least one receiver.
            </div>
            <div data-ng-show="invalid.length">
                The email address "{{invalid[0]}}" was not recognized.
                Make sure to enter all email addresses in the correct format.
            </div>
        </div>
    </div>
    <div class="slModal-footer">
        <button class="slBtn"
                data-wb-focus="true"
                data-ng-click="close()">OK</button>
    </div>
</div>
