<div class="sndlatr slSetupCompleteDialog">
    <div class="slModal-header">
        <button type="button" class="close"
                data-ng-click="close()">&times;</button>
        <h4>SndLatr is ready to use</h4>
    </div>

    <div class="slModal-body">
        Congratulations! You have successfully set up SndLatr.
        <p>
           You can now schedule emails by pressing the "Send Later" button.
            Scheduled emails remain in your drafts folder. You can edit
            or delete them like any regular draft. If you delete a scheduled
            email, it will not be sent.
        </p>
    </div>
    <div class="slModal-footer">
        <button class="slBtn"
                data-wb-focus="true"
                data-ng-click="close()">OK</button>
    </div>
</div>
