<p>
    We could not access a mailbox that SndLatr requires to work properly.
    SendLatr requires access to the special GMail mailboxes "All Mail" and
    "Trash"
    via IMAP.
</p>
<p>
    To solve this issue, please
    <a href="https://mail.google.com/mail/u/0/#settings/labels">open Settings
        -&gt; Labels in GMail</a>
    and make sure "Show in IMAP" is checked for "All Mail" and "Trash".
    <br>
    If you have intentionally hidden these folders from IMAP to prevent
    other IMAP clients from synchronizing, unsubscribe from these folders in
    your IMAP clients instead.
</p>
